
body {
	background: url(images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;

}

.container {
	padding-left: 60px;
	padding-right: 60px;
}

nav {
	position: fixed;
	background-color: grey;
	height: 60px;
	width: 100%;
}

nav .icon-img {
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50%
	vertical-align: middle;
	border:1px solid black;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav li::after {
	content: "|";
	margin-left: 5px;
	margin-bottom: 5px;
}

nav a:hover {
	color: black;
}



.green-box	{
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	position: relative;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.cat, .dog {
	width: 200px;
	position: absolute;
}

.cat {
	top:-90px;
	left: -90px;
}

.dog {
	bottom: -120px;
	right: -60px;
}
